/* This ":root"is used to add variables to CSS */
:root{

}

* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    background-color: rgb(209, 21, 226);
}

h1{
    font-size: 35px;
}

h2{
    font-style: italic;
    /* text-align: left; */
}


p{
    color: aqua;
    font-style: italic;
}

.header nav ul{
    display: flex;

}

.header nav ul li {
    margin-left: 25px;
} 

.header{
    color: hotpink;
    font-style: italic;
    padding: 0 14px;
    font-size: 17px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.first-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-images img{
    display: flex;
    flex-direction: row;
    width:300px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 1px rgb(235, 182, 11);
}

.about-me-section{
    display: flex;
}

.about-me-section-2{
    display: flex;
}
.about-me-section-2 div p{
    text-align: center;
    margin-left: 280px;

}

#about-me{
    margin-right: 189px;
}

.portfolio{
    display: flex;
    margin-left: 425px;
    height: 150px;
    width: 150px;  
    border-radius: 50%;
    
}

.my-work-section{
    display: flex;
    align-items: center;
}

#my-work{
    margin-right: 65px;
}

#contact-me-id{
    margin-right: 179px;
}

.main-images{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.contact-me{
    display: flex;
}

figure a img{
    
    width:300px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 1px rgb(235, 182, 11);
}

.main-images-big{
    margin-left: 175px;
    width:900px;
    height: 600px;
}

.section-ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

footer{
    text-align: center;
    background-color: rgb(73, 30, 190);
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(226, 221, 226);
}


a, a:link, a:visited /* a:focus, a:hover, a:active */{
    text-decoration: none;
    text-decoration-color: none;
    color: aqua;;
}

@media screen and (max-width: 1000px) {
    body{
        background-color: whitesmoke;
    }
    
    .header nav ul{
        
       
        flex-direction: column;
    }


    .first-images{
        
        flex-direction: column;
        align-items: center;
    }

    .first-images figure{
        margin-bottom: 25px;
    }

    .main-images{
    flex-direction: column;
    align-items: center;
    }

    .main-images figure{
        margin-bottom: 25px;
    }

    /* .first-images-1{
        flex-wrap: wrap;
        
    } */

    .contact-me{
        display: flex;
    }
    
    .main-images-big{
        margin-left: 160px;
        width:600px;
        height: 300px;
    }



    
}

@media screen and (max-width: 600px) {
    body{
        background-color: tomato;
    }
    .header{
        display: flex;
    }

    header nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: left; 
    }


    .first-images{
        display: flex;
    }
    .first-images-1{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contact-me{
        display: flex;
    }
    .section-ul li a{
        display: flex;
        flex-wrap: wrap;

    }
    
    .main-images-big{
        margin-left: 160px;
        width:300px;
        height: 300px;
    }
}
